<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPlqR0_CfWoFP5yCC_37kLy9slsoK6Rnw</string>
	<key>GCM_SENDER_ID</key>
	<string>12698184056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devcom.fighters</string>
	<key>PROJECT_ID</key>
	<string>fighters-98fbd</string>
	<key>STORAGE_BUCKET</key>
	<string>fighters-98fbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12698184056:ios:f03d4491a3a26e4f13408d</string>
</dict>
</plist>